* {
    margin: 0;
    padding: 0;
    transition: all 0.7s;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../Images/Medicina2.jpeg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    padding: 20px;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

section {
    height: 500px;
    width: 500px;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.8;
    box-shadow: 10px 5px 5px black;
    border-radius: 5%;
}
a {
    text-decoration: none;
    color: inherit;
}
.logar-input {
    border-radius: 5px;
    width: 400px;
    height: 25px;
    font-size: 20px;
}
.container-box {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

aside {
    text-align: center;
    margin-top: 0100;
}
.button-71 {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-azul {
    width: 15vh;
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}

.button-vermelho {
    width: 15vh;
    background-color: rgb(128, 0, 0);
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
}

.button-verde {
    width: 15vh;
    background-color: green;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
}
